.anydesk/
	.bash_history
	.bash_sessions/
	.config/
	.dropbox/
	.idlerc/
	.oracle_jre_usage/
	.putty/
	.ssh/
	.websiteauditor/
	Applications/
	Creative Cloud Files/
	Desktop/
	Documents/
	Downloads/
	Dropbox (Old (1))/
	Dropbox (Old)/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	PycharmProjects/
	wp-content/